<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<contextName>mislog</contextName>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<!---->
	<property name="LOG_HOME" value="D:/mylog" />

	<!--
	<property name="LOG_HOME" value="/root/mylog" />
    -->

	<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
	<property name="PATTERN" value="[%t]%d{HH:mm:ss.SSS} %-5level %logger{48} - %msg%n" />
	<!-- 日志文件保留天数 -->
	<property name="MAX_HISTORY" value="10" />
	<!-- 日志最大文件大小 -->
	<property name="MAX_FILE_SIZE" value="50MB" />
	<!-- 日志文件扩展名 -->
	<property name="LOG_EXTFILE" value="log" />

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="CUST_SERVER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/cust_server.%d{yyyyMMdd}.%i.${LOG_EXTFILE}</FileNamePattern>
			<!--日志文件保留天数-->
			<MaxHistory>${MAX_HISTORY}</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!--日志文件超过大小再重新起一份-->
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="DBLOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<FileNamePattern>${LOG_HOME}/dblog_cust.%d{yyyyMMdd}.%i.${LOG_EXTFILE}</FileNamePattern>
			<!--日志文件保留天数-->
			<MaxHistory>${MAX_HISTORY}</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!--日志文件超过大小再重新起一份-->
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!--  -->
	<logger name="com.berritus.cloud.service.cust" level="WARN" additivity="false">
		<appender-ref ref="CUST_SERVER_APPENDER" />
	</logger>
	<!-- mybatis 打印sql -->
	<logger name="com.berritus.cloud.dao.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="DBLOG_APPENDER" />
	</logger>
	<!-- root -->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
